.container {
	width: 100vw;
	height: 100vh;
}

table {
	width: 100%;
	border-collapse: collapse;
}

th,
td {
	border: 1px solid #ccc;
    transition: height 0.5s, border 0.2s;
	padding: 8px;
	text-align: center;
}

th {
	background-color: #3d4f50;
	font-weight: bold;
}

tr {
	animation: slide-in-left 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

tr:nth-child(even) {
	background-color: #383e51;
	animation: slide-in-right 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

tr:hover {
	background-color: #9caefe;
	color: black;
}

tr:hover img {
	transform: translateX(0px);
}

tr:hover button {
	background-color: #3d4f50;
}

tr:hover button:hover {
	background-color: rgb(118, 0, 0);
}

tr:hover button:active {
	transform: scale(0.9);
}

tr button img {
	width: 40px;
	height: 40px;
	position: relative;
	right: 8px;
	transform: translateX(-100px);
	transition: transform 0.3s cubic-bezier(0.86, 0, 0.07, 1);
}

tr button {
	position: absolute;
	left: 0;
	width: 40px;
	height: 40px;
	background-color: transparent;
	border: none;
	overflow: hidden;
	transition: background-color 0.3s cubic-bezier(0.86, 0, 0.07, 1);
}

form {
	position: absolute;
	bottom: 0;
	width: 100vw;
	border: 1px solid rgb(163, 163, 163);
	padding: 20px;
	background-color: rgb(62, 86, 48);
}

form input {
	width: 900px;
	height: 50px;
	border-radius: 5px;
	border: 2px solid rgb(107, 148, 83);
	background-color: white;
	color: black;
	font-size: 20px;
	margin-right: 10px;
}

form button {
	width: 200px;
	height: 70px;
	font-size: 30px;
	font-weight: 600;
	text-align: center;
	border: 2px double white;
	border-radius: 5px;
	margin: 5px;
}

@keyframes slide-in-right {
	0% {
		transform: translateX(1000px);
		opacity: 0;
	}
	100% {
		transform: translateX(0);
		opacity: 1;
	}
}

@keyframes slide-in-left {
	0% {
		transform: translateX(-1000px);
		opacity: 0;
	}
	100% {
		transform: translateX(0);
		opacity: 1;
	}
}
